.navBar{
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
    padding: 50px;
}

.logoTitleContainer{
    display: flex;
    align-items: center;
}

#task-logo{
    width: 100px;
    height: 100px;
}

#mainTitle{
    margin: 10px 0px 0px 10px;
    font-size: 90px;
}

.logAndSign{
    margin: 30px 30px 0 0;
    display: flex;
    gap: 20px;
}

#link{
    border: 2px black solid;
    padding: 15px 25px;
}

.userName-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userName {
    font-size: 30px;
}

#logout-button {
    font-size: 15px;
    width: 100px;
    height: 30px;
}